---
import IncrementButton from '../components/IncrementButton.astro';
import RandomAvatarCard from '../components/RandomAvatarCard.astro';
import ShoppingList from '../components/ShoppingList.astro';
const buyList = [
  'Controller',
  'Bread',
  'Water',
  'Notebook',
  'Math Book',
  'Choco Bar',
  'Milk'
];
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Avatar Aleatorio</title>
  </head>
  <body>
    <h1 style="text-align: center;">Generar de Avatar Aleatorio</h1>
    <div style="display: flex; justify-content: center; margin-top: 20px;">
      <RandomAvatarCard />
    
    </div>
  </body>
</html>
