---
const { items } = Astro.props;
---

<div style="border: 1px solid #ccc; border-radius: 10px; padding: 20px; background-color: #f9f9f9;">
  <h2>Lista de Compras</h2>
  <ul>
    {items.map((item: unknown) => (
      <li key={item} style="margin: 5px 0; color: #333;">{item}</li>
    ))}
  </ul>
</div>
